.contact-grid {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 100px;
}

.info-sidebar-wrapper > .logo img{
    width: 100%;
    margin-bottom: 20px;
    
}

.info-sidebar-wrapper > .details-wrap {
    font-family: "Ubuntu Condensed", sans-serif ;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 1.25em;

}

.info-sidebar-wrapper > .details-wrap i {
    color: darkcyan;
}