/*hero section styles*/
.hero-section{
    background-image: url(../images/background.png);
    padding: 100px;
    height: 400px;
    background-attachment: fixed;
    background-position:top;
    background-repeat: no-repeat;
    background-size:cover;
}

.hero-section > .top-heading{
    padding: 0px 5px;
    background-color: goldenrod;
    color: #3e2680;
    width: 130px;
    border-radius: 2px;
    

}

.hero-section > .bottom-heading {
    background-color: darkgreen;
    color:darkblue;
    padding: 0px 5px;
    width:130px;
    border-radius: 2px;
    margin-top: 15px;
}

/* features section styles*/
.features-section {
    height: 400px;
    background-image: url(../images/Legends-banner.png);
    background-color: blue; 
    border-top: 10px solid goldenrod;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'B612 Mono', monospace;
    font-size: 75%;
    box-shadow: inset 0px -26px 79px -8px rgba(0,0,0,0.58);
}

.features-section > .columns-wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.features-section > .columns-wrapper > .column {
    padding: 20px;
    margin: 42px;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
}
.features-section > .columns-wrapper > .column:hover {
    border-bottom: 5px solid #3e2680;
}

.features-section > .columns-wrapper > .column :nth-child(1) {
    font-size: 3em;
}

.features-section > .columns-wrapper > .column :nth-child(2) {
    font-size: 1.3em;
    font-weight: 900;
    height: 50px;
    transition: 1s;
}

.features-section > .columns-wrapper > .column :nth-child(2):hover {
    font-size: 1.4em;
}

