body {
	text-align: center;
}
.char-intro {
	display: flex;
	justify-content: center;
}
.good-traits {
	padding-left: 20px;
	padding-right: 20px;
	color: #00ff00;
}
.bad-traits {
	padding-left: 20px;
	padding-right: 20px;
	color: #ff0000;
}
.i-needed-a-grid-container {
	display: grid;
}
.page-container {
	width: 90%;
	margin: 2rem auto;
	display: grid;
}
.character{
	margin: 1rem 0;
	
}
.dropdown {
	cursor: pointer;
	position: relative;
}
.dropdown::after {
	content: " \2207";
	font-weight: bold;
}
.dropdown.active::after {
	content: " \2206";
}
.possible-dropdown {
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s ease-out;
}
.possible-dropdown-content {
	padding: 1rem;
}

#creation h1{
	color: #7F00FF;
}
#musicmaster h1{
	color: green;
}
#showstopper h1{
	color: darkblue;
}
#techwizard h1{
	color: darkred;
}
#spyware h1{
	color: orangered;
}
#seer h1{
	color: gold;
}
#bitz h1{
	color: goldenrod;
}
#vane h1{
	color: red;
}
