/* common styles */
body {
    margin:0px;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Righteous', cursive;
}

h3, h4, h5, h6 {
    font-family: 'B612 Mono', monospace;
}

.intro-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-size: 1.5em;
}

p {
    font-size: 1.1em;
    line-height-step: 5px;
}