/*footer*/
.footer {
    background: -webkit-linear-gradient(top, #1155ccff, #9fc5e8ff);
    color: #cbcbcb;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}
.social-media-icons {
    display: flex;
    justify-content: center;
}

.copyright-wrap {
    display: flex;
    justify-content: center;
}

.footer > .footer-phone span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
}

.footer > .footer-phone > .hours {
    font-size: 0.8em;
}

.footer > .link-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 400px;
}
.footer > .social-media-icons {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 300px;
    font-size: 2em;
}

.footer > .social-media-icons a {
    color: goldenrod;
    transition: 0.5s;
}

.footer > .social-media-icons a:hover {
    color: lightgoldenrodyellow;
}

.footer > .copyright-wrap {
    margin-bottom: 42px;
    font-size: 0.7em;
}
