@media (max-width: 615px){
    .nav-wrapper {
        flex-direction: column;
        height: 100%;
    }
    .nav-wrapper > .center-column {
        order: 1;
        width: 100%;
    }

    .nav-wrapper > .center-column > .banner-image {
        width: 350px;
    }

    .dropdown-content {
        min-width: 350px;
    }
    .link-wrapper {
        flex-direction: column;
        margin-bottom: 20px;
        justify-content: center;
    }

    .link-wrapper > .nav-link{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.5em;
        width: 100%;
    }

    .hero-section {
        padding: 50px 10px;
    }

    .features-section {
        height: 100%;
    }

    .features-section > .columns-wrapper {
        width: 100%;
        flex-direction: column;
    }

    .footer {
        height: 100%;
    }

    .tri-header > .skewed-head-wrap > .skewed-head-content {
        flex-direction: column;
    }

    .tri-header > .header-back {
        background-size: 550px;
    }

    .page-container {
        padding-left: 21px;
        padding-right: 21px;
    }

    .content-wrap > #placeholder {
        margin: 0px 0px 25px 0px !important;
        width: 450px !important;
        align-items: center !important;
    }
    
    .footer {
        padding-top: 10px;
    }
